@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;1,200&family=Work+Sans:wght@200&display=swap");
.hey {
  font-family: "Exo 2", serif;
}
.kal {
  font-size: 4rem;
  font-family: "Exo 2", serif;
}
.rolling-text h1 {
  font-family: "Exo 2", serif;
  font-weight: 500;
}
.bb {
  width: 140px;
  height: 45px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

.bb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: rgb(14, 241, 44);
  z-index: -1;
  transition: all 0.5s;
}

.bb:hover::before {
  width: 100%;
}

.bb:hover {
  color: black;
}

.bb:active:before {
  background: #bfd120;
}

/* header css */

header {
  background-color: var(--bgcolor);
  min-height: 80vh;
  width: 100%;
}
.main-here-container {
  height: 80vh;
  display: flex;
  /* background-color: #6f5de7; */
}

/* .main-herosection-images img {
  height: 100%;
  max-width: 90%;
} */
.top-headings {
  padding: "10px";
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}

.main-here-container h1 {
  text-transform: capitalize;
  font-weight: bolder;
}

.main-here-container h3 {
  font-weight: lighter;
}
/* .main-herosection-images img {
  width: 100%;
  height: 100%;
} */

.hello-css {
  color: rgb(52, 73, 94);
  font-family: Lobster, sans-serif;
  font-size: 2.5rem;
  margin: 8rem auto 2rem;
}
.my-name-css {
  color: rgb(246, 44, 7);
  font-family: Lobster, sans-serif;
  font-size: 4rem;
  margin: 1rem auto 3rem;
}
.running-text {
  color: black;
  font-family: "Patrick Hand SC", cursive;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: semi-expanded;
}

@media (max-width: 998px) {
  .main-herosection-images img {
    width: 30rem;
    border-radius: 2.5rem;
    height: 30rem;
    margin: 3px 5px;
  }

  .top-headings .hey {
    font-size: 1.6rem;
    font-family: "Exo 2", serif;
    font-weight: 500;
  }

  .kal {
    font-size: 2.4rem;
  }
  .for-text {
    margin: 0 6rem;
  }
}

/* my css */
